*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
   
}
/*---section1------*/
.top-banner{
    width: 100%;
    height: 100vh;
    background-image: url(images/top-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}
.content{
    color: white;
    font-size: 40px;
    margin: 0;
    padding: 0; 
    text-align: center; 
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.button-press{
    text-decoration: none;
    color: white;
    font-size: 22px;
    background-color:rgb(197, 45, 45);
    padding: 10px 30px;
    border-radius: 5%;
    
}
.button-press:hover{
    background-color: palevioletred;
}
/*---section2------*/
.section2{
    margin-top: 110px;

}
.taka{
    font-size: 30px;
    display: flex;
    margin-top: 65px;
    margin-left: 10%;
    margin-right: 10%;
   
}
.same{
    box-shadow: 5px 5px 10px rgb(218, 211, 211);
    border: 2px;
    border-radius: 7%;
    width: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0px;
    padding: 2%;
    

}
.same-2{
    border: 2px solid rgb(216, 42, 42);
    background-color: rgb(244, 187, 187) ;
}

.simple{
    text-align: center;
    margin-top: 60px;
    font-size: 19px;
    color: lightslategray;
}
.hr-1{
    border: 2px sol black;
    margin-bottom: 20px;
    width: 70%;
    margin-left: 15%;
    margin-right: 25%;
    margin-top: 15px;
}
.button-2{
    text-decoration: none;
    color: white;
    font-size: 22px;
    background-color:rgb(197, 45, 45);
    padding: 10px 30px;
    border-radius: 5%;    
}
.first-id{
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 130px; 

}
.button-2:hover{
    background-color: rgb(190, 120, 168);
}

/*---section3-----*/

.section3{

}
.donateplan h3{
    font-size: 38px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 60px;
}
.donateplan p{
    font-size: 17px;
    text-align: center;
}
.sec3div{
    display: flex;
    

    

}
.individual{
    width: 30%;
    margin-left: 5% ;
    margin-right: 5%;
    padding: 20px;
    margin-left: 70px;
    
     
}
.extra{
    border: 1px rgb(183, 219, 234);
    background-color: rgb(183, 219, 234);
    border-radius: 2px;
}
.extra2{
    border: 1px pink;
    background-color: rgb(227, 179, 187);
    border-radius: 2px;
}
.extra3{
    border: 1px lightgoldenrodyellow;
    background-color: rgb(242, 220, 240);
    border-radius: 2px;
}

/*----last section-------*/
.last-sec{
  

}
.flexi{
    text-align: center;
    width: 500px;
    border: 1px solid wheat;
    padding: 50px;
    margin: 20px;
    display: flex;
    background-color: wheat;
    margin-left: 520px;

}
input{
    height: 40px;
    width: 260px;
    padding: 0 15px;
    color: gray;
    background-color: lightgray;
    border: none;
    margin-left: 15px;
}
button{
    height: 40px;
    padding: 0 15px;
    color: white;
    background-color: red;
    border: none;  
}
/*----Footer-------*/
.my-foot{
    background-color: black;
    height: 180px;

}
.my-foot-div h4{
    font-size: 38px;
    color: red;
    text-align: center;
}
.my-foot-div p{
    color: white;
    font-size: 14px;
    text-align: center;
}